@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');
@import './colors';

$font-family: 'Nunito Sans', 'Helvetica', -apple-system, BlinkMacSystemFont, Arial, sans-serif;

body {
  font-family: $font-family;
  margin: 0;
  overflow-x: hidden;
  font-weight: 400;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, b, li, input, label, button, span, div {
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.5;
  color: $secondary;
}
